# Motor de base de datos OLAP in-process
duckdb>=1.1.0

# Procesamiento de datos y exportación a DataFrames
pandas>=2.0.0

# Motor necesario para escribir archivos Parquet desde Pandas/DuckDB
pyarrow>=14.0.0
